.content{
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 200px;
	width: 600px;
	background: #fff;
	padding-bottom: 30px;
}
.submit-container{
	display: flex;
	gap: 30px;
	margin: 60px auto;
}

.submit{
	display: flex;
	align: center;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 59px;
	color: #fff;
	background: #4c00b4;
	border-radius: 50px;
	font-size: 19px;
	font-weight: 700;
	cursor: pointer;
}

.submit:hover {
	background: #EAEAEA;
	color: #676767;
}
